@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Assets/background\ img.png);
    background-size: cover;
    font-family: 'Fredoka One', cursive;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
nav img{
/* border:1px solid white ; */
width: 400px;
height: 150px;
padding-left: 20px;

}
nav h2{
    color: white;
}
.t1{
    margin-left: 50%;
}
.text{
    cursor: pointer;
 padding-top:3%;
 font-size: 35px;
 padding-right: 50px;
 text-decoration: none;
 color: white;
 /* border:3px solid white ; */


}
nav{
    border:3px solid white ;
    border-radius: 60px;
    width: 95%;
    height: 150px;
    margin-top: 30px;
    margin-left: 2.5%;
}
.player{
    border:3px solid white ;
    width: 300px;
    height: 300px;
    margin-top: 10%;
    border-radius: 30px;
    align-items: center;

}
.player img{
    width: 80px;
    height: 80px;
}
.btn{
    border:3px solid white ;
    color: rgb(255, 0, 0);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
    /* text-decoration: none; */
    padding-top: 10px;
    -webkit-text-stroke:0.5px rgb(0, 0, 0);

}
.btn1 {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.bt1{
 margin-right: 40px;
}
.bt2{
    margin-left: 20px;
}
